body {
    background-color: #e4ddcc;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: auto;
    margin: 0;
    padding: 0;
}

hr {
    margin-bottom: 25px;
    border: none;
    height: 1px;
    background-color: rgb(161, 161, 161);
}

.result-title {
    font-weight: 700;
    font-size: 46px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.result-description {
    font-weight: 500;
    font-size: 28px;
    padding-bottom: 30px;
    text-align: center;
}

.result-sub-description {
    font-weight: 300;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    line-height: 230%;
    text-align: left;
}

.counter {
    font-weight : 500;
    font-size: 16px;
    color: rgb(110, 110, 110);
}

.times {
    font-family: "sans-serif";
    font-weight : 300;
    font-size: 16px;
    padding-top: 20px;
    text-align: right;
    float: left;
}

.child-times {
    font-family: "sans-serif";
    font-weight : 300;
    font-size: 16px;
    display: inline-block;
    vertical-align: baseline;
    float: right;
}

.parent {
    width: 100%;
    height: 50px;
    display: inline-block;
    margin-top: 25px;
    font-size: 28px;
    font-weight: 700;
}

.grid {
    width: 70%;
    height: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    margin-top: 40px;
    border: 2px solid #cbcbcb;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 6px 8px 4px rgb(192, 177, 138);
}

.grid #question {
    font-weight: 300;
    font-size: 25px;
    color: #000000;
    height: 60px
}

.buttons {
    margin-top: 70px;
    text-align: center;
}

#btn0, #btn1 {
    background-color: #21165f;
    width: 200px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 20px 10px 0px;
    padding: 10px 10px;
    border-radius: 3px 3px 3px 3px
}
 
/* PC 기반의 web browser만 대상으로 구성 */
/* #btn0:hover, #btn1:hover {
    cursor: pointer;
    background-color: #0e773a;
    border: 1px solid #6d6d6d;
    border-radius: 3px 3px 3px 3px;
    transition: all ease 0.2s 0s;
} */

/* 마우스 오버시, 단말 특성 파악을 통해 mobile device에서는 hover 제외 
   watch_hover.js를 통한 단말 분석 후 수행 */
body.hasHover #btn0:hover, body.hasHover #btn1:hover {
    cursor: pointer;
    background-color: #0e773a;
    border: 1px solid #6d6d6d;
    border-radius: 3px 3px 3px 3px;
    transition: all ease 0.2s 0s;
}

#score {
    color: #000000;
}

#myProgress {
    width: 100%;
    height: 14px;
    background-color: rgb(207, 207, 207);
    border-radius: 3px 3px 3px 3px;
    border-color: olive;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
}
  
#myBar {
    width: 1%;
    height: 100%;
    background-color: #469e49;
    border-radius: 3px 3px 3px 3px;
    transition: all ease 0.2s 0s;
}

/* 폭죽 */
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -174px -202.6666666667px blue, -27px -211.6666666667px #008cff, 69px -269.6666666667px #ffc800, -14px -329.6666666667px #00ffea, -111px 36.3333333333px #ff0004, 185px -181.6666666667px #5100ff, 53px -86.6666666667px #00ffc4, -198px -68.6666666667px #11ff00, -194px -388.6666666667px #37ff00, -162px -241.6666666667px #95ff00, 66px -60.6666666667px #00ff2b, -144px -149.6666666667px #ff0011, 186px -185.6666666667px #ff5100, -177px -112.6666666667px #ff0059, -161px -312.6666666667px #ff4800, -148px -37.6666666667px #e600ff, -169px -83.6666666667px #1aff00, -158px -340.6666666667px #00ffa2, 43px 16.3333333333px #00ff84, 0px -65.6666666667px #84ff00, -32px -389.6666666667px #009dff, -216px -350.6666666667px #ff1100, 165px -245.6666666667px #ff00c8, 117px -27.6666666667px #0015ff, -12px -204.6666666667px #ff007b, 79px -261.6666666667px #ff7300, 166px -228.6666666667px #ff008c, -65px -171.6666666667px #0084ff, -105px -299.6666666667px #ff0088, 60px -321.6666666667px #9900ff, 199px -121.6666666667px #ff1100, -246px -300.6666666667px #00ffa6, 21px -52.6666666667px #ff00f2, -246px -13.6666666667px #59ff00, 47px -296.6666666667px #00ffea, -87px 72.3333333333px #ff00a2, -176px -29.6666666667px #9d00ff, 152px -122.6666666667px #d500ff, 233px -401.6666666667px #ff9500, -64px -343.6666666667px #1aff00, 122px -261.6666666667px #62ff00, -203px -408.6666666667px #ff3700, 233px -8.6666666667px #00ccff, -157px -393.6666666667px #00ff84, -224px -40.6666666667px #00ff73, 238px -156.6666666667px #00aeff, -11px -150.6666666667px #007bff, -127px -125.6666666667px #7700ff, 108px -125.6666666667px #e600ff, -123px 77.3333333333px #7300ff, -31px -314.6666666667px #0084ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -174px -202.6666666667px blue, -27px -211.6666666667px #008cff, 69px -269.6666666667px #ffc800, -14px -329.6666666667px #00ffea, -111px 36.3333333333px #ff0004, 185px -181.6666666667px #5100ff, 53px -86.6666666667px #00ffc4, -198px -68.6666666667px #11ff00, -194px -388.6666666667px #37ff00, -162px -241.6666666667px #95ff00, 66px -60.6666666667px #00ff2b, -144px -149.6666666667px #ff0011, 186px -185.6666666667px #ff5100, -177px -112.6666666667px #ff0059, -161px -312.6666666667px #ff4800, -148px -37.6666666667px #e600ff, -169px -83.6666666667px #1aff00, -158px -340.6666666667px #00ffa2, 43px 16.3333333333px #00ff84, 0px -65.6666666667px #84ff00, -32px -389.6666666667px #009dff, -216px -350.6666666667px #ff1100, 165px -245.6666666667px #ff00c8, 117px -27.6666666667px #0015ff, -12px -204.6666666667px #ff007b, 79px -261.6666666667px #ff7300, 166px -228.6666666667px #ff008c, -65px -171.6666666667px #0084ff, -105px -299.6666666667px #ff0088, 60px -321.6666666667px #9900ff, 199px -121.6666666667px #ff1100, -246px -300.6666666667px #00ffa6, 21px -52.6666666667px #ff00f2, -246px -13.6666666667px #59ff00, 47px -296.6666666667px #00ffea, -87px 72.3333333333px #ff00a2, -176px -29.6666666667px #9d00ff, 152px -122.6666666667px #d500ff, 233px -401.6666666667px #ff9500, -64px -343.6666666667px #1aff00, 122px -261.6666666667px #62ff00, -203px -408.6666666667px #ff3700, 233px -8.6666666667px #00ccff, -157px -393.6666666667px #00ff84, -224px -40.6666666667px #00ff73, 238px -156.6666666667px #00aeff, -11px -150.6666666667px #007bff, -127px -125.6666666667px #7700ff, 108px -125.6666666667px #e600ff, -123px 77.3333333333px #7300ff, -31px -314.6666666667px #0084ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -174px -202.6666666667px blue, -27px -211.6666666667px #008cff, 69px -269.6666666667px #ffc800, -14px -329.6666666667px #00ffea, -111px 36.3333333333px #ff0004, 185px -181.6666666667px #5100ff, 53px -86.6666666667px #00ffc4, -198px -68.6666666667px #11ff00, -194px -388.6666666667px #37ff00, -162px -241.6666666667px #95ff00, 66px -60.6666666667px #00ff2b, -144px -149.6666666667px #ff0011, 186px -185.6666666667px #ff5100, -177px -112.6666666667px #ff0059, -161px -312.6666666667px #ff4800, -148px -37.6666666667px #e600ff, -169px -83.6666666667px #1aff00, -158px -340.6666666667px #00ffa2, 43px 16.3333333333px #00ff84, 0px -65.6666666667px #84ff00, -32px -389.6666666667px #009dff, -216px -350.6666666667px #ff1100, 165px -245.6666666667px #ff00c8, 117px -27.6666666667px #0015ff, -12px -204.6666666667px #ff007b, 79px -261.6666666667px #ff7300, 166px -228.6666666667px #ff008c, -65px -171.6666666667px #0084ff, -105px -299.6666666667px #ff0088, 60px -321.6666666667px #9900ff, 199px -121.6666666667px #ff1100, -246px -300.6666666667px #00ffa6, 21px -52.6666666667px #ff00f2, -246px -13.6666666667px #59ff00, 47px -296.6666666667px #00ffea, -87px 72.3333333333px #ff00a2, -176px -29.6666666667px #9d00ff, 152px -122.6666666667px #d500ff, 233px -401.6666666667px #ff9500, -64px -343.6666666667px #1aff00, 122px -261.6666666667px #62ff00, -203px -408.6666666667px #ff3700, 233px -8.6666666667px #00ccff, -157px -393.6666666667px #00ff84, -224px -40.6666666667px #00ff73, 238px -156.6666666667px #00aeff, -11px -150.6666666667px #007bff, -127px -125.6666666667px #7700ff, 108px -125.6666666667px #e600ff, -123px 77.3333333333px #7300ff, -31px -314.6666666667px #0084ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -174px -202.6666666667px blue, -27px -211.6666666667px #008cff, 69px -269.6666666667px #ffc800, -14px -329.6666666667px #00ffea, -111px 36.3333333333px #ff0004, 185px -181.6666666667px #5100ff, 53px -86.6666666667px #00ffc4, -198px -68.6666666667px #11ff00, -194px -388.6666666667px #37ff00, -162px -241.6666666667px #95ff00, 66px -60.6666666667px #00ff2b, -144px -149.6666666667px #ff0011, 186px -185.6666666667px #ff5100, -177px -112.6666666667px #ff0059, -161px -312.6666666667px #ff4800, -148px -37.6666666667px #e600ff, -169px -83.6666666667px #1aff00, -158px -340.6666666667px #00ffa2, 43px 16.3333333333px #00ff84, 0px -65.6666666667px #84ff00, -32px -389.6666666667px #009dff, -216px -350.6666666667px #ff1100, 165px -245.6666666667px #ff00c8, 117px -27.6666666667px #0015ff, -12px -204.6666666667px #ff007b, 79px -261.6666666667px #ff7300, 166px -228.6666666667px #ff008c, -65px -171.6666666667px #0084ff, -105px -299.6666666667px #ff0088, 60px -321.6666666667px #9900ff, 199px -121.6666666667px #ff1100, -246px -300.6666666667px #00ffa6, 21px -52.6666666667px #ff00f2, -246px -13.6666666667px #59ff00, 47px -296.6666666667px #00ffea, -87px 72.3333333333px #ff00a2, -176px -29.6666666667px #9d00ff, 152px -122.6666666667px #d500ff, 233px -401.6666666667px #ff9500, -64px -343.6666666667px #1aff00, 122px -261.6666666667px #62ff00, -203px -408.6666666667px #ff3700, 233px -8.6666666667px #00ccff, -157px -393.6666666667px #00ff84, -224px -40.6666666667px #00ff73, 238px -156.6666666667px #00aeff, -11px -150.6666666667px #007bff, -127px -125.6666666667px #7700ff, 108px -125.6666666667px #e600ff, -123px 77.3333333333px #7300ff, -31px -314.6666666667px #0084ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -174px -202.6666666667px blue, -27px -211.6666666667px #008cff, 69px -269.6666666667px #ffc800, -14px -329.6666666667px #00ffea, -111px 36.3333333333px #ff0004, 185px -181.6666666667px #5100ff, 53px -86.6666666667px #00ffc4, -198px -68.6666666667px #11ff00, -194px -388.6666666667px #37ff00, -162px -241.6666666667px #95ff00, 66px -60.6666666667px #00ff2b, -144px -149.6666666667px #ff0011, 186px -185.6666666667px #ff5100, -177px -112.6666666667px #ff0059, -161px -312.6666666667px #ff4800, -148px -37.6666666667px #e600ff, -169px -83.6666666667px #1aff00, -158px -340.6666666667px #00ffa2, 43px 16.3333333333px #00ff84, 0px -65.6666666667px #84ff00, -32px -389.6666666667px #009dff, -216px -350.6666666667px #ff1100, 165px -245.6666666667px #ff00c8, 117px -27.6666666667px #0015ff, -12px -204.6666666667px #ff007b, 79px -261.6666666667px #ff7300, 166px -228.6666666667px #ff008c, -65px -171.6666666667px #0084ff, -105px -299.6666666667px #ff0088, 60px -321.6666666667px #9900ff, 199px -121.6666666667px #ff1100, -246px -300.6666666667px #00ffa6, 21px -52.6666666667px #ff00f2, -246px -13.6666666667px #59ff00, 47px -296.6666666667px #00ffea, -87px 72.3333333333px #ff00a2, -176px -29.6666666667px #9d00ff, 152px -122.6666666667px #d500ff, 233px -401.6666666667px #ff9500, -64px -343.6666666667px #1aff00, 122px -261.6666666667px #62ff00, -203px -408.6666666667px #ff3700, 233px -8.6666666667px #00ccff, -157px -393.6666666667px #00ff84, -224px -40.6666666667px #00ff73, 238px -156.6666666667px #00aeff, -11px -150.6666666667px #007bff, -127px -125.6666666667px #7700ff, 108px -125.6666666667px #e600ff, -123px 77.3333333333px #7300ff, -31px -314.6666666667px #0084ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}  